body{
    padding: 0;
    margin: 0;
}
h1,p,a,h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.background{
    background-color:#F3F9AE;
    height: 821px;
}
.satu{
    background-color: #F3F9AE;
}
.kedua{
    background-color: #F3F9AE;
}
/* satu */
hr{
    padding: 0;
    margin: 0;
}
.satu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0;

}
.satu h1{
    font-size: 30px;
    color: black;
}
.satu a{
    text-decoration: none;
    color: black;
}
.satu .contact{
    font-size: 30px;
    color: black;
}
.satu a:hover{
    color: grey;
}
.satu-menu a{
    text-decoration: none;
    color: black;
}
.satu-menu a:hover{
    color: grey;
}
/* kedua */
.kedua{
    display: flex;
    place-content: center;
    padding: 80px 0;
}
.kedua .kedua-kiri .title h1{
    margin: 0;
}
.kedua .title h1{
    font-size: 80px;
    color: black;
}
.kedua .isi{
    color: black;
}
.kedua .isi h1{
    font-size: 25px;
}
.kedua p{
    color: black;
}
.kedua .kedua-img img{
    height: 500px;
    width: 530px;
}
/* aboutme */
.about-me{
    background-color: #39414F;
    height: 450px;
    display: flex;
}
section .about-bungkus-kiri{
    background-color: black;
    opacity: 0.5;
    width: 45%;
    height: 100%;
    display: flex;
    place-content: center;
}
section div .about-isi{
    display: flex;
    flex-direction: column;
    place-content: center;
}
section div .about-isi h1{
    color: grey;
    margin: 0;
}
section div .about-isi p{
    color: grey;
    margin: 0;
}
section .about-bungkus-kanan .atas-isi{
    border-bottom: 6px solid black;
    width: 834px;
    height: 193px;
    border-block-start: 150px;
    place-content: center;
    display: flex;
    flex-direction: column;
}
section .about-bungkus-kanan .atas-isi h1{
    display: flex;
    justify-content: center;
}
section .about-bungkus-kanan .atas-isi .bungkus-isi .ai-nilai{
    display: flex;
    align-items: center;
    flex-direction: column;
}
section .about-bungkus-kanan .atas-isi .bungkus-isi .ps-nilai{
    display: flex;
    align-items: center;
    flex-direction: column;
}
section .about-bungkus-kanan .atas-isi .bungkus-isi .xd-nilai{
    display: flex;
    align-items: center;
    flex-direction: column;
}
section .about-bungkus-kanan .atas-isi img{
    width: 50px;
    height: 50px;
    margin: 10px 0;
}
section .about-bungkus-kanan .atas-isi .atas-nilai-ai{   
    height: 5px;
    border: 5px solid lightgreen;
    border-radius: 10px;
    width: 150px;
    background-color: lightgreen;
}
section .about-bungkus-kanan .atas-isi .atas-nilai-ps{   
    height: 5px;
    border: 5px solid lightgreen;
    border-radius: 10px;
    width: 150px;
    background-color: lightgreen;
}
section .about-bungkus-kanan .atas-isi .atas-nilai-xd{   
    height: 5px;
    border: 5px solid lightgreen;
    border-radius: 10px;
    width: 150px;
    background-color: lightgreen;
}
section .about-bungkus-kanan .atas-isi .bungkus-isi{
    display: flex;
    place-content: center;
    gap: 25px;
}

/* language */

section .about-bungkus-kanan .bungkus-bawah{
    place-content: center;
    display: grid;
}
section .about-bungkus-kanan .bungkus-bawah .bawah-title h1{
    display: flex;
    justify-content: center;
}
section .about-bungkus-kanan .bungkus-bawah .language{
    display: flex;
    gap: 25px;
}
section .about-bungkus-kanan .bungkus-bawah .language img{
    height: 50px;
    width: 50px;
    margin: 10px 0;
}
section .about-bungkus-kanan .bungkus-bawah .language .bungkus-ind{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .about-bungkus-kanan .bungkus-bawah .language .bungkus-ind .nilai-ind{
    height: 5px;
    border: 5px solid lightgreen;
    border-radius: 10px;
    width: 150px;
    background-color: lightgreen;
}
section .about-bungkus-kanan .bungkus-bawah .language .bungkus-usa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .about-bungkus-kanan .bungkus-bawah .language .bungkus-usa .nilai-usa{
    height: 5px;
    border: 5px solid lightgreen;
    border-radius: 10px;
    width: 150px;
    background-color: lightgreen;
}
section .about-bungkus-kanan .bungkus-bawah .language .bungkus-chinese{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .about-bungkus-kanan .bungkus-bawah .language .bungkus-chinese .nilai-chinese{
    height: 5px;
    border: 5px solid lightgreen;
    border-radius: 10px;
    width: 150px;
    background-color: lightgreen;
}


/* work */

.work{
    background-color: #F3F9AE;
    height: 1626px;
}
.work .work1{
    display: flex;
    justify-content: center;
}
.work .work-title{
    padding: 60px 193px;
}
.work .work-title h1{
    margin: 0;
}
.work .work-title p{
    margin: 0;
}
.work .work1 img{
    height: 340px;
    width: 500px;
}
.work .work1 .work-desc1 {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 498;
    display: flex;
    flex-direction: column;
    place-content: center;
}
.work .work1 .work-desc1 h2,h1{
    color: grey;
}
.work .work1 .work-desc1 h2{
    font-size: 20px;
}
.work .work1 .work-desc1 h1{
    font-size: 30px;
}
.work .work1 .work-desc1 p{
    line-height: 1px;
    color: grey;
}
/* work2 */
.work .work2{
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
.work .work2 .work2-table{
    border: 2px black solid;
    height: 337px;
    width: 498px;
    border-right: 0;
    display: flex;
    flex-direction: column;
    place-content: center;
}
.WORK .work2 .work-desc2 h1,h2{
    color: grey;
}
.work .work2 .work-desc2 h1{
    font-size: 30px;
}
.work .work2 .work-desc2 h2{
    font-size: 20px;
}
.work .work2 .work-desc2 .work2-isi{
    line-height: 1  ;
}
.work .work2 .work-desc2 p{
    color: grey;
    margin-bottom: 0%;
    margin-top: 0%;
}
.work .work2 img{
    height: 340px;
    width: 500px;
}
/* work3 */
.work .work3{
    display: flex;
    justify-content: center;
}
.work .work3 img{
    height: 340px;
    width: 500px;
}
.work .work3 .work-desc3 {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 498;
    display: flex;
    flex-direction: column;
    place-content: center;
}
.work .work3 .work-desc3 h1{
    font-size: 30px;
}
.work .work3 .work-desc3 h2{
    font-size: 20px;
}
.work .work3 .work-desc3 p{
    color: grey;
    margin: 0;
}
/* contact */

.contact1{
    display: -ms-inline-grid;
    background-color: #39414F;
}
.contact1 h1{
    padding-top: 0;
    font-size: 50px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 0 324px;

}
.contact-isi{
    width: 30%;
    height: 80%;
    padding: 60px 39px;
    margin: 0 145px;
}
.contact-isi form{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
input,
    textarea{
        background-color: white;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
        border-radius: 10px;
    }
input:focus,
textarea:focus {
    outline: 3px solid black;
}
.tombol1{
    border-radius: 20px;
    background-color: black;
    color: white;
    height: 43px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    width: 330;
}
.tombol1:hover{
    opacity: 0.7;
}

